<div class="section-homepage-video">
<video autoplay muted loop playsinline class="video-homepage">
<source src="https://cdn.shopify.com/videos/c/o/v/de633b30dcff45849dedea9b3fd9e109.mp4" type="video/mp4">
</video>
</div>
{% schema %}
{
"name": "Homepage Neutral Video",
"class": "index-section index-section--flush",
"settings": [],
"presets": [{
"name": "Homepage Videos",
"category": "Text"
}]
}
{% endschema %}
{% stylesheet %}
.section-homepage-video{
width:100%;
}
.video-homepage{
width: 100%;
height: auto;
}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}